name: Rebuild and Publish to PyPI

on:
  workflow_run:
    workflows: ['Python Unit Tests']
    types: [completed]
    branches: [master]

  
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' && github.event.workflow_run.head_branch == 'master' && !contains(github.event.workflow_run.head_commit.message, '[skip ci]') }}

    concurrency:
      group: ci-${{ github.event.workflow_run.head_branch }}
      cancel-in-progress: true

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.workflow_run.head_sha }}
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install hatch
        pip install setuptools wheel twine
        pip install build
        pip install sphinx sphinx_immaterial
        pip install sphinx-autodoc-typehints
        pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

    - name: Install package in editable mode
      run: |
        pip install -e .
    
    - name: Bump version
      run: |
        python bump_version.py
    
    - name: Get new version
      id: get_new_version
      run: |
        echo "new_version=$(cat new_version.txt)" >> $GITHUB_ENV
        rm new_version.txt
    
    - name: Commit new version to main branch
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git fetch origin
        git checkout master
        git add pyproject.toml
        git commit -m "Bump version to ${{ env.new_version }} and update documentation [skip ci]"
        git push origin master
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the package
      run: |
        python -m build

    - name: Publish to PyPI
      env:
        PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload dist/* -u $PYPI_USERNAME -p $PYPI_PASSWORD
    
    - name: Build Sphinx documentation
      run: |
        cd docs && make -f Makefile html && cd ..

    - name: Deploy documentation to gh-pages branch
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: docs/_build/html
        commit_message: "Update documentation for version ${{ env.new_version }} [skip ci]"
        force_orphan: true